<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="cn.rabbit.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/test?characterEncoding=UTF-8
                                    &amp; serverTimezone=UTC
                                    &amp; useSSL=false
                                    &amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="1234567"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--因为使用的注解，不需要映射SQL语句的配置文件了-->
        <!--<mapper resource="cn/rabbit/pojo/Category.xml"/>-->

        <!--注意： class使用的是点， resource使用的反斜杠-->
        <mapper class="cn.rabbit.mapper.ICategoryMapper"/>
        <mapper class="cn.rabbit.mapper.IProductMapper"/>
        <mapper class="cn.rabbit.mapper.IOrderMapper"/>
        <mapper class="cn.rabbit.mapper.IOrderItemMapper"/>
    </mappers>
</configuration>
